[submodule "cookbooks/ntp"]
	path = cookbooks/ntp
	url = git://github.com/opscode-cookbooks/ntp.git
[submodule "cookbooks/vim"]
	path = cookbooks/vim
	url = git://github.com/opscode-cookbooks/vim.git
