[submodule "cookbooks/ntp"]
	path = cookbooks/ntp
	url = git://github.com/opscode-cookbooks/ntp.git
[submodule "cookbooks/vim"]
	path = cookbooks/vim
	url = git://github.com/opscode-cookbooks/vim.git
[submodule "cookbooks/openssh"]
	path = cookbooks/openssh
	url = git://github.com/opscode-cookbooks/openssh.git
[submodule "cookbooks/git"]
	path = cookbooks/git
	url = git://github.com/opscode-cookbooks/git.git
